.item1{ grid-area:one }
.item2{ grid-area:two }
.item3{ grid-area:three }
.item4{ grid-area:four }

.grid-container{
display:grid;
background-color: blue;
}
grid-template-areas:
'one two'
'one three'
'one four'
